<div data-role="fieldcontain">
    <label for="name">Journey</label>
    <input type="text" name="name" id="name" value="<%= name %>" />
		<label for="points">Points:</label>
    <input type="number" name="points" id="points" value="<%= points %>" />  
		<label for="storyCount">Story Count:</label>
    <input type="number" name="storyCount" id="storyCount" value="<%= stories %>" /> 
</div>  
  
<div class="ui-grid-a"> 
	<div class="ui-block-a"><button type="submit" id="add" data-theme="a">Add</button></div>
	<div class="ui-block-b"><button type="submit" id="erase" data-theme="c">Erase All</button></div>
</div>
	